---
title: Auteurs
---


<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 block-1">
        <h3>Un compositeur, <span>Bernard Reichel</span></h3>
        <img src="<%= asset_path 'images/portrait/bernard_reichel.jpg' %>" alt="Bernard Reichel" class="portrait"/>
        <p>
          Né à Neuchâtel le 3 août 1901, citoyen vaudois, ayant passé ses premiers mois à Montmirail, ses premières années à Lausanne, son adolescence et sa jeunesse au Locle, s'étant formé musicalement à Bâle, Paris et Genève, Bernard Reichel se sent « chez lui » dans toute la Suisse romande occidentale, mais aussi dans la vénérable ville hanséatique allemande de Lemgo et dans le terroir cévenol.
        </p>
        <p>
          Dès 1925, Bernard Reichel se fixe à Genève et devient professeur au Conservatoire et à l'Institut Jaques-Dalcroze, où il se lie d'amitié avec Frank Martin. Il enseigne le piano, l'harmonie et la composition. En 1971, il reçoit le prix de la musique de la Ville de Genève.
        </p>
        <p>
          La composition reste au premier plan de ses préoccupations. Son immense expérience de la musique de Bach, de ses prédécesseurs et de ses successeurs, lui permet de penser que la tonalité n'a pas encore épuisé ses ressources.
        </p>
        <p>
          Il s'éteint à Lutry, le 10 décembre 1992
        </p>
        <h4>L'oeuvre</h4>
        <p>
          L'œuvre de Bernard Reichel est très variée et s’adresse à quantités de formations. Nombre de solistes renommés et de groupes de musique de chambre ont bénéficié de sa riche production : ensemble d’instruments à vent ou à cordes, duos, trios, quatuors, quintettes, octuors, pièces pour piano, clavecin, orgue. Citons tout spécialement ses concertos pour piano, flûte, alto, violoncelle ou orgue.
        </p>
        <p>
          Par ailleurs, Bernard Reichel a contribué à enrichir le répertoire de la musique d’église, soit en Suisse, soit en Allemagne, particulièrement à Lemgo (Westphalie), où ses œuvres chorales (Psaumes, Te Deum, Gloria) ont été interprétées dans le cadre de grandes fêtes religieuses. Enfin, ses œuvres pour orchestre ont connu de vifs succès aux États-Unis, en Angleterre, en Allemagne et dans les principales villes de Suisse.
        </p>
        <p>
          Le répertoire des œuvres est géré par l'Association Bernard Reichel, <a href="http://www.bernardreichel.ch">www.bernardreichel.ch</a>.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 block-1">
        <h3>Une poétesse, <span>Anne Perrier</span></h3>
        <img src="<%= asset_path 'images/portrait/anne_perrier.jpg' %>" alt="Anne Perrier" class="portrait"/>
        <p>
          Originaire de Sainte-Croix, Anne Perrier  (Anne Hutter) est née à Lausanne le 16 juin 1922. Après avoir obtenu un baccalauréat classique, elle entreprend des études de lettres à l'issue desquelles Anne Perrier obtient en 1947 le Prix Folloppe, puis elle se marie.
        </p>
        <p>
          Passionnée de musique, elle hésite un temps entre la vocation de compositeur et celle de poète. Dans les deux options se manifestent un sens architectural, un souci de construction, la vision d'un ensemble structuré et polyphonique, qui seront les marques distinctives de sa poésie.
        </p>
        <p>
          Bien qu'à l'écart des modes et des houles médiatiques, l'œuvre poétique d'Anne Perrier est saluée par la critique comme l'une de celles qui occupent une place importante dans la poésie contemporaine de langue française.
        </p>
        <p>
          Elle est l'auteur de plusieurs recueils de poèmes: <i>Selon la nuit</i> (1952), <i>Pour un vitrail</i> (1955), <i>Le voyage</i> (1958), <i>Le petit pré</i> (1960), <i>Le temps est mort</i> (1967), <i>Le livre d'Ophélie</i> et <i>La voie nomade</i> (1986). Sa poésie est réunie à deux reprises aux Editions de l'Age d'Homme, en 1982 Poésie 1960-1979 et, en 1988, dans la Collection Poche suisse, n° 71, Poésie 1960-1986. En 1975, Anne Perrier écrit un conte intitulé Conte d'été.
        </p>
        <p>
          Vouée à l'essentiel, la poésie d'Anne Perrier s'épanouit dans l'unité de l'être, du monde et des mots. A la suite de la parution de <i>Lettres perdues</i> (Payot, 1971), Anne Perrier se voit décerner le Prix Rambert. En décembre 1996, elle reçoit le Prix vaudois des écrivains et en 2001 le Grand Prix de littérature française de l’Académie de Belgique. En 2003, Anne Perrier figure parmi les lauréats de la Fondation Leenaards. <b>En 2012 enfin, l’ensemble de son œuvre est saluée et couronnée, en France, par le Grand Prix national de poésie, remis en mars à Paris par le ministre de la culture, M. Frédéric Mitterand.</b>
        </p>
        <p>
          Aujourd’hui, Anne Perrier vit dans une maison de retraite à Saxon (VS). Elle continue d’être active, notamment en participant à des traductions de ses oeuvres.
        </p>
        <p>
          Anne Perrier a été éditée chez :
          </br>
          Les Amis du Livre,  éd. Pierre Seghers, éd. La Baconnière,  éd. Payot, éd. Empreintes,  L’Âge d’homme,  Poche suisse,  éd. Empreintes,  éd. de l’Escampette,  éd. Raymond Meyer,  éd. Bernard Blatter,  éd. Zoé.
        </p>
      </div>
    </div>
  </div>
