---
title: Créateurs
---

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 block-1 readmore">
      <h3>Un metteur en scène et scénographe, <span>Jean-Néville Dubuis</span></h3>
      <img src="<%= asset_path 'images/portrait/jean-neville.jpg' %>" alt="Jean-Néville Dubuis" class="portrait"/>
      <p>
        Après ses études de commerce, son apprentissage de décorateur, et l’ERAD (école romande d’art dramatique) Jean–Néville Dubuis travaille une douzaine d’années avec les Artistes Associés, alors troupe professionnelle basée au Théâtre Municipal de Lausanne, qui joue son répertoire en tournée, tant en Suisse qu’en France et Belgique. Il découvre la mise en scène à Orbe lors des « Quinzaines Artistiques », et voue dès lors toute sa passion à ce métier fait d’humanité, d’imagination et de rigueur. Il a à son actif une quarantaine de mises en scène, une riche palette d’auteurs allant des textes classique aux textes contemporains.
      </p>
      <p>
        Jouant volontiers de l’image et du symbolisme il crée des spectacles à grande distribution comme « Terre nouvelle » commandé par l’Eglise Réformée vaudoise, « Je ne suis pas Pestalozzi » pour la ville d’Yverdon ou encore en 2011 « Pierre Viret, le chaînon manquant » dont il assume l’écriture, la mise en scène et la scénographie pour la ville d’Orbe et le canton de Vaud.
      </p>
      <p>
        Il travaille avec divers théâtres dont Kléber-Méleau et la Comédie à Genève, ou encore avec L’Esprit Frappeur à Bruxelles. De nombreuses productions font appel à ses talents de metteur en scène et de scénographe.
      </p>
      <blockquote class="citation">
        <p>
          Il est des rencontres qui tiennent d’un coup de tonnerre, d’un éclair qui illumine la vie d’un artiste. Eh bien c’est ce que j’ai vécu à la première écoute de cette œuvre.
        </p>
        <p>
          Grandeur et subtilité de la musique de Bernard Reichel qui nous entraîne dans un kaléidoscope très imagé, plein de couleurs et de sentiments. Sa partition m’a ouvert, instantanément le monde du conte, précédant le texte souvent, le soulignant parfois. Je l’ai reçue comme un feu d’artifice. Amoureux de l’image et du symbolisme, j’ai tout de suite entrevu le spectacle sur scène. Au fur et à mesure de mon écoute les images me pénétraient et la mise en scène apparaissait en moi.
        </p>
        <p>
          Quand un compositeur, Bernard Reichel, et une poétesse, Anne Perrier, allient leurs talents pour nous offrir une œuvre si complète, si complexe, c’est un vrai bonheur.
        </p>
        <p>
          J’ai ressenti, aussi, toute l’intensité de cette œuvre. Elle est profondément humaine par les thèmes traités. Stigmatisant les abus de pouvoir, exaltant le sens de l’amitié jusqu’au sacrifice, jusqu’au renoncement. Le conte d’été nous fait pénétrer aussi dans l’intime, le non-dit, l’impossibilité de communiquer. Impossibilité, symbolisée ici par le secret, l’interdit de parler, d’annoncer les dangers de ce chemin initiatique, qui comme toute initiation doit passer par des épreuves à surmonter.
        </p>
        <p>
          Choisir la forme du conte, c’est aussi vouloir toucher toutes les générations, car le conte est immédiatement perceptible par chacun. En cela « le Conte d’été » est parfaitement réussit, il réunit la beauté de la musique de Bernard Reichel et l’élégance du texte d’Anne Perrier. Sans oublier le plaisir des yeux par les images proposées. Sans omettre la magie du divertissement et du suspens qu’attend le public.
        </p>
        <p>
          Mettre en scène cette œuvre si inspirante, sera pour moi une belle passion. Inventer, visualiser, coordonner la complexité et ceci avec des comédiens, des musiciens, décorateurs, éclairagistes, c’est un vrai défi dans lequel je mettrai tout mon amour, amour du théâtre et de la volonté humaine de transmission.
        </p>
        <p class="sign">
          Jean-Néville Dubuis
        </p>
      </blockquote>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 block-1 readmore">
      <h3>Un chef d’orchestre,<span>Christian Delafontaine</span></h3>
      <img src="<%= asset_path 'images/portrait/delafontaine.jpg' %>" alt="Christian Delafontaine" class="portrait"/>
      <p>
		C’est en 1975 que Christian Delafontaine termine ses études avec un 1er prix de virtuosité au Conservatoire Supérieur de Musique de Genève, dans la classe d’André Pépin, alors flûte solo de l’Orchestre de la Suisse Romande. Finaliste du Concours International de Montreux, il suit dès 1976, des Masterclasses au Canada avec Alain Marion et William Bennett.
		</br>Sélectionné avec trois jeunes musiciens  Suisses, il fait partie de l’Orchestre Mondial des Jeunesses Musicales sous la direction entre autres de Leonard Bernstein, lors d’une tournée en Autriche, en Angleterre, au Canada et aux USA.
	</p>
	<p>
		En 1977, il est nommé à l’Orchestre Symphonique de Lucerne. Plus tard, il enseigne dans plusieurs institutions comme les Conservatoires de Neuchâtel, Genève et Bienne et dirige plusieurs chœurs.
		Pendant quinze ans, il est flûte solo de l’Orchestre Sinfonietta de Lausanne et effectue avec celui-ci des tournées en Allemagne, Canada et Chine. Il le dirige lors de la fête de la musique en juin 2000.
	</p>
	<p>
		Christian Delafontaine aime se produire en récitals et comme soliste. Ses concerts l’ont conduit notamment en Russie, aux Etats-Unis et dans de nombreux pays d’Europe. Il privilégie les répertoires originaux ainsi que les découvertes de sonorités et de musiques inédites. Depuis plus de 25 ans, avec son ami Douglas Worthen, professeur de flûte à l’Université de Carbondale (IL) aux USA, il organise des échanges entre ses élèves, donne de nombreux concerts en duo.
	</p>
	<p>
		Il est chef artistique de l’Orchestre de la ville d’Yverdon-les-Bains.  En avril 2010, plus de 2400 spectateurs ont assisté au spectacle du « Bourgeois Gentilhomme » de Molière-Lully, en coproduction avec le Cercle Littéraire d’Yverdon. Chaque année, l’Orchestre donne deux concerts à Yverdon-les-Bains.
		</br>Son activité de flûtiste, se partage entre l’enseignement et le poste de  flûte solo au sein de l’Orchestre de Chambre de Zurich (ZKO) sous la direction de Sir Roger Norrington et la musique de chambre.
	</p>
	<p>
		Il a participé à plusieurs Schubertiades, au Festival de Musique de Castiglione del Lago en 2005 et 2006 ainsi qu'en 2007, avec Adalberto Maria Riva. En 2013, il est à Rome  avec le pianiste italien Sebastiano Brusco ainsi qu’au Festival de Castiglione.
	</p>
	<p>
		Il a été chef  invité au Québec pour diriger l’Orchestre de l’Université de Sherbrooke ainsi qu’à Montréal pour un récital flûte et piano avec Adalberto Riva. En 2010, ils sont invités au festival « Les Samedis Musicaux de Prades, en France.</br>
		Il a enregistré plusieurs CD chez VDE Gallo. Dernièrement,  un nouveau CD flûte – piano Schubert-Mendelssohn  avec Adalberto Maria Riva. En préparation, les 6 sonates en trio de JS Bach avec Denis Fedorov accordéoniste, un enregistrement flûte et harpe, un CD flûte -piano de compositeurs français ainsi que le premier enregistrement des sonates de Clémenti.
	</p>
	<blockquote class="citation">
        <p>
		- Contacté pour un premier rendez-vous en compagnie de Jean-Néville Dubuis et Claudine Bonzon, avec qui j'ai eu le grand plaisir de collaborer sur le spectacle du Bourgeois Gentilhomme de Molière-Lully,  j'ai été tout de suite séduit par l'idée d'une nouvelle aventure musico théâtrale, et ceci d'autant plus que nous avons à Yverdon-les-Bains, l'écrin parfait qui permettra de faire vivre et résonner la musique de Bernard Reichel et les textes poétiques d'Anne Perrier.     
		Je suis certain qu'ensemble, nous y présenterons un spectacle d'émotions multiples, qualités que le public de tous âges saura apprécier.
	</p>
        <p class="sign">
          Christian Delafontaine
        </p>
      </blockquote>
    </div>
     <div class="col-sm-12 col-md-12 col-lg-12 block-1 readmore">
      <h3>Une illustratrice,<span>Claudine Bonzon</span></h3>
      <img src="<%= asset_path 'images/portrait/claudine.jpg' %>" alt="Claudine Bonzon" class="portrait"/>
     <p>
		Tout en enseignant durant 33 ans, les activités artistiques et manuelles, elle poursuit une œuvre personnelle. Elève assidue des cours de l’artiste-peintre Corinne Colombo jusqu’en 2006, puis explorant son imaginaire personnel, elle se lance dans de grands formats où son talent peut s’épanouir en abordant des sujets qui pourraient se révéler communs, mais que sa palette transcende. A voir ses magnifiques visions saisonnières exposées en permanence à L’hôtel de la Prairie à Yverdon-les-Bains.
	</p>
	<p>
		Grande voyageuse, elle restitue de ses périples, non des paysages trop connus, mais des images de détails de la vie quotidienne. Etonnant empilement de chaises vu sur une terrasse d’Amérique du Sud, une série de galets entrevue sur une plage de Terre de Feu, fleuretant avec l’abstraction. Amoureuse de l’architecture, elle en rend sur ses toiles les détails graphiques, comme autant de symboles d’une écriture secrète. Bien sûr la nature n’est pas absente de son œuvre, elle joue sur ses grands formats des fleurs luxuriantes mais aussi des reflets des canaux imaginaires et de cieux mangeant la Terre.</br>Elle anime régulièrement des ateliers de peinture pour adultes et pour enfants.
	</p>
	<p>
		Parallèlement, elle réalise plusieurs décors de théâtre, notamment ceux du spectacle annuel de la troupe du Cercle Littéraire Yverdon-les-Bains depuis 2010, aux Théâtre Benno Besson.</br>
		Comme un compagnon du Tour de France, c’est une artiste qui aime aller vers d’autres découvertes et partager le travail en équipe, prête à se fondre dans l’œuvre commune.</br>
		Les murs du château de Champittet recevront ses œuvres en mai 2013 et ceux de la galerie de Jean-Marc Walther à Prahins en automne 2014.</br>
		Aimant relever des défis, consciente de l'importance du travail de recherche et de création qu'imposera la réalisation de ce spectacle, elle se réjouit  de voir ce magnifique projet se concrétiser.
	</p>
	<blockquote class="citation">
        <p>
			La vie vous offre quelquefois des cadeaux!</br>
			Le Conte d'été en est un! Quand Jean- Néville Dubuis m'a proposé de créer l'illustration de ce projet, j'ai pensé que si je devais vivre une seule fois, dans ma vie,  une vraie aventure artistique, avec ses risques, ses doutes et ses réussites, ce serait  celle -là!</br>
			Entrer dans l’histoire, s'imprégner de toute la symbolique qui en émane, transmettre par des traits, des couleurs, des mouvements, le message de l'auteur, quel privilège!</br>
			Souligner, accompagner, mettre en valeur le travail des comédiens et des musiciens sous la direction d'un metteur en scène  chevronné dont il n'est plus besoin de relever les talents, on ne peut espérer mieux!</br>
			Consciente de  l'ampleur de la tâche, mais avide de m'investir dans ce projet, je me réjouis d'avance de penser que des hommes et des femmes  seront touchés par la magie de ce spectacle et seront d'accord de nous accompagner tangiblement afin de nous permettre de réaliser ce rêve fantastique.
	</p>
        <p class="sign">
          Claudine Bonzon
        </p>
      </blockquote>
    </div>
  </div>
</div>
