---
title: Accueil
---

<div class="slider">
  <div class="camera_wrap">
    <div data-src="<%= asset_path 'header-1.jpg' %>"></div>
    <div data-src="<%= asset_path 'header-1.jpg' %>"></div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 block-1">
        <h3><span>Le Conte d'été</span> ou le dragon à sept têtes</h3>
        <p class="lead">Une histoire d’amitié, d’amour, de trahison, de mort</p>
        <p>
          Le conte d’été est une histoire dans la plus belle tradition des contes populaires occidentaux, narrée par la plume talentueuse d’Anne Perrier, mise en musique par Bernard Reichel dans une généreuse et éblouissante orchestration, et en espace car il est dit que l’on y joue et que l’on y danse. On y côtoie roi, prince, princesse, gens du peuple et dragon.
        </p>
        <p>
          Tout commence par l’amitié, d’un fils de roi, et d’un fils de cordonnier. L’expulsion de ce dernier duchâteau, permettra au jeune prince de se défaire de l’autorité de son père en partant à la recherche de Pedro son ami. Il découvrira un monde qu’il serait incapable d’appréhender seul.
        </p>
        <p>
          Pedro, lui, le fils du peuple, perçoit une réalité invisible qui menace le prince. Il parvient à protéger, son ami de graves dangers dont le prince n’a pas conscience.
        </p>
        <p>
          Les deux garçons libèrent une princesse captive qui elle aussi doit taire son secret. Pedro défendra sans rien dire les amours des deux jeunes nobles, veillera à leur royal mariage après avoir tué un dragon qui ne laissera à sa mort d’autre trace qu’une goutte de sang sur la joue de la princesse. Celle-ci, dans l’ignorance du péril encouru, accusera Pedro de trahison. Pedro se verra obligé de s’expliquer et subira le sort qui lui était réservé s’il avait parlé.
        </p>
        <p>
          Adulte, le prince devenu roi découvrira que l’amitié demande un don total de soi et que Pedro le lui avait offert en silence, de son vivant. Le merveilleux, comme dans les récits du genre, agira et le dénouement du conte en sera heureux.
        </p>
        <p>
          Ce conte a été créé dans une atmosphère de grande amitié entre Anne Perrier et Bernard Reichel et c'est dans un dialogue quotidien entre les auteurs qu'il a vu le jour. Créé dans une version pour orchestre et récitant à Vidy-Lausanne en 1976 (CD 1176 chez GALLO), diffusé par l'Association Bernard Reichel.
        </p>
        <p>
          Le Conte d’été n’a pas encore été représenté dans sa version scénique complète, avec toute l’imagination apportée par le jeu des comédiens, des chanteurs, et par l’imagerie de décors et de lumières pour rendre vivants et vibrants tous les aspects de cette belle œuvre.
        </p>
      </div>
    </div>
  </div>
