---
title: Technique
---

<div class="container">
  <div class="row" id="tabs-container">
    <ul>
      <li><a href="#lia">Lara Ianetta</a></li>
      <li><a href="#ajm">Amir Jdahim</a></li>
      <li><a href="#prr">Philippe Rossier</a></li>
    </ul>
    <div class="col-sm-12 col-md-12 col-lg-12 block-1" id="lia">
      <h3><span>Lara Ianetta</span></h3>
      <img src="<%= asset_path 'images/portrait/lara.jpg' %>" alt="Lara Ianetta" class="portrait"/>
      <p>
        Mon rôle est de prendre des notes et d’être la seconde paire de mains et d’oreilles du metteur en scène. Jean-Néville me donne la possibilité, malgré mon jeune âge, de vivre un nouveau projet professionnel. J’ai hâte de voir comment ce spectacle va se développer et comment cette grande distribution, entre comédiens et musiciens, va former un spectacle que nous aurons un énorme plaisir à partager avec le public.
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 block-1" id="ajm">
      <h3><span>Amir Jdahim</span></h3>
      <img src="<%= asset_path 'images/portrait/amir.jpg' %>" alt="Amir Jdahim" class="portrait"/>
      <p>
        En 2008, il découvre l’éclairage de théâtre. Depuis, il y voue son temps et sa passion. Homme éclairé, c’est lui qui illuminera la scène pour vous faire rêver. Il partage son temps de travail entre le théâtre de poche L’Échandole et le théâtre Benno Besson. Entre une petite scène et un grand plateau. Son rêve : découvrir et se perfectionner dans l’art de l’éclairage.
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 block-1" id="prr">
      <h3><span>Philippe Rossier</span></h3>
      <img src="<%= asset_path 'images/portrait/philippe.jpg' %>" alt="Philippe Rossier" class="portrait"/>
      <p>
        Tout ce qui bouge, qui monte et descend, c’est lui qui le dirige. Il a un œil sur tout le matériel qui compose le décor. La réussite d’un spectacle dépend beaucoup de lui. Il est dans l’ombre des coulisses, mais sans lui, rien de possible ! Formation et carrière d'ingénieur, trompettiste à ses heures, il s'investit toujours avec efficacité et passion dans des réalisations musicales et théâtrales. A son actif: plus de 20 décors, de nombreuses régies techniques et participation au Cully Jazz OFF en 2012 et 2014.
      </p>
    </div>
  </div>
</div>

