<% if @location == 'footer' %>
  <ul class="footer-menu">
<% else %>
  <ul class="nav tm-navbar navbar-nav sf-menu">
<% end %>
  <li <%= @item.identifier == '/' ? 'class="active"' : '' %> >
    <a <%= @item.identifier == '/' ? 'class="current"' : '' %> href="index.html">Accueil</a>
  </li>
  <li <%= @item.identifier == '/auteurs/' ? 'class="active"' : '' %> >
    <a <%= @item.identifier == '/auteurs/' ? 'class="current"' : '' %> href="auteurs.html">Auteurs</a>
  </li>
  <li <%= @item.identifier == '/contact/' ? 'class="active"' : '' %> >
    <a <%= @item.identifier == '/contact/' ? 'class="current"' : '' %> href="contact.html">Contact</a>
  </li>
</ul>
